// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-highlight, .table-highlight:hover {
  font-weight: bold;
  background: #3e3e3e !important;
  color: #FFF;
}


table#compare td a {
  word-break: break-all !important;
}

.table-column-highlight, .table-column-highlight:hover {
  font-weight: bold;
  background: #888888 !important;
  color: #FFF;
}

.table-hr, .table-hr:hover {
  background: #111 !important;
  height: 5px;
  padding: 0 !important;
}